* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	font-size: 100%;
}

html {
	height: 100%;
}

body {
	background: url(../bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: magenta;*/
	min-height: 100%;
	/*font-family: Wingdings, 'Zapf Dingbats', sans-serif;
*/}

.bg_white{
	background-color: rgba(255,255,255,0.5);
}
.bold{
	color: red;
}

.page{
	text-align:center;
	font-size: 1.5em;
	margin-bottom: 50px;
}
.page p{
	display: inline-block;
	font-weight: bold;
}
.page a{
	display: inline-block;
	margin: 0 5px;
	padding: 3px;
	width: auto;
	border: dotted black 1px;
}
.page a:hover{
	text-decoration: none;
}

.form-control{
	padding: 10px;
	font-size: 1.2em;
	height: auto;
}

input[type="text"], input[type="password"], input[type="mail"] {
	margin-bottom: -1px;
}

input[type="password"]:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
input[type="submit"], button[type="submit"] {
	margin-bottom: 50px;
}

#editor {
	background-color: white;
}
.article img {
	max-width: 100%;
}
hr{
	border-color: #666;
}

